<div class="title">Available Recipes</div>

<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="medium-12 large-12 columns">
    <article class="index text-center">
      <%= link_to recipe.name, recipe_path(recipe), class: "index-title" %></td>
      <div class="index-description">
      <%= recipe.description %></td>
      </div>
    </article>
  </div>
  <% end %>
</div>
<br>

<div class="row">
<%= link_to "Back to home", root_path, class: "back-link" %>
</div>
