<h1>Groups Index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group_path(group) %></td>
        <td><%= group.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to "Back to home", root_path %>
</div>
