<h1>Users Index</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>City</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user_path(user) %></td>
        <td><%= user.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to "Back to home", root_path %>
</div>
