<p>
<%= link_to "View Recipes", recipes_path %>
</p>
<p>
  <% if current_user != nil %>
    <%= link_to "View Users", users_path %>
  <% end %>
</p>
<p>
<%= link_to "View Brewing Groups", groups_path %>
</p>
