/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$search-result: #008cba;

body {
  background-attachment: fixed;
  background-image: image-url("bb_background_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

.search-header {
  color: $white;
  font-size: 2vw;
}

.right {
  background-color: rgba(244, 162, 23, 0.66);
  position: relative;
  right: 0;
}

.hidden-button {
 display: none;
}

.home-link {
  color: rgb(255, 255, 255);
}

.home-page {
  margin-left: auto;
  margin-right: auto;
}

.main-area {
  background: rgba(108, 108, 108, 0.5);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 30px;
  margin-top: 60px;
  padding: 50px;
  border-left: 10px;
}

.full-area {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

div .search-bar-only {
  background-color: rgba(11, 71, 204, .66);
  border-color: $white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: $black;
  width: 200px;
}

h4 {
  color: $white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  font-variant: small-caps;
  letter-spacing: 6px;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin-left: 4px;
}

.error-explanation {
  color: $red;
  font-size: 10px;
  font-style: italic;
  padding-bottom: 15px;
}

.submit-form {
  background: rgba(0, 0, 0, 0.6);
  color: $white;
  font: bold 12px/24px Helvetica, Sans-Serif;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-title {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.review-box {
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.signup-box {
  height: 600px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.login-box {
  height: 400px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.form-layout {
  height: 900px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.header-title {
  color: $white;
}

.form-label {
  color: $white;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.index-group {
  margin-left: auto;
  margin-right: auto;
}

.member-list {
  color: $white;
  list-style-type: none;
}

.member {
  color: rgba(11, 71, 204, 1);
}

.link {
  color: $white;
}

.recipe-body {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: $white;
  text-align: left;
  list-style-type: none;
}

.back-link {
  color: rgb(255, 255, 255);
  font-size: 0.8vw;
}
