/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */

$white: #ffffff;
$black: #000000;
$red: #ff0000;
$search-result: #008cba;

body {
  background-attachment: fixed;
  background-image: image-url("bb_background_small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;

}

.search-header {
  color: $white;
  font-size: 2vw;
}

.hidden-button {
 display: none;
}

.home-link {
  color: rgb(255, 255, 255);
}

.home-page {
  margin-left: auto;
  margin-right: auto;
}

.main-area {
  background: rgba(11, 71, 204, 0.75);
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  margin: 30px;
  margin-top: 60px;
  padding: 30px;
  border-left: 10px;
}

.full-area {
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  max-width: 800px;
}

div .search-bar-only {
  background-color: rgba(11, 71, 204, 0.75);
  border-color: $white;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: $black;
  width: 200px;
}

h4 {
  color: $white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  font-variant: small-caps;
  letter-spacing: 6px;
  font-size: 2.6vw;
}

h5 {
  font-weight: bold;
  font-size: 2.5vw;
  margin-top: 10px;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-left: 4px;
}

.submit-form {
  background: rgba(0, 0, 0, 0.6);
  color: $white;
  font: bold 12px/24px Helvetica, Sans-Serif;
  margin-bottom: 40px;
  margin-top: 10px;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
}

.review-title {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.review-box {
  color: $white;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.event-box {
  color: $white;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.signup-box {
  color: $white;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.login-box {
  color: $white;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.form-layout {
  color: $white;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.create-recipe {
  color: $white;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.header-title {
  color: $white;
}

.form-label {
  color: $white;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.index-group {
  margin-left: auto;
  margin-right: auto;
}

.member-list {
  color: $white;
  list-style-type: none;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
}

.group-member-list {
  color: $white;
  list-style-type: none;
  margin: 5px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80px;
}

.member {
  color: $white;
}

.link, .owner-options {
  color: $white;
  font-size: 1.5vw;
}

.recipe-body {
  background-color: rgba(94, 94, 94, 0.7);
  border-color: rgba(255, 255, 255, 1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-style: solid;
  color: $white;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 5px;
  text-align: left;
  max-width: 500px;
  font-size: 2vw;
}

.review-body {
  color: $white;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 15px;
  text-align: left;
  width: 500px;
}

.review-text {
  font-size: 1.7vw;
}

.user-body {
  color: $white;
  text-align: left;
}

.back-link {
  color: rgb(255, 255, 255);
  font-size: 1.2vw;
}

.message-list {
  color: $white;
  list-style-type: none;
  max-height: 200px;
  overflow: auto;
  text-align: left;
}

.event-list {
  color: $white;
  list-style-type: none;
  max-height: 400px;
  overflow: auto;
  text-align: left;
}

.recipe-list {
  max-height: 425px;
  overflow: auto;
}

.groups-list {
  max-height: 425px;
  overflow: auto;
}

.profile-photo {
  margin-right: 5px;
  width: 60px;
}

.photo-edit {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.photo-index {
  padding-top: 10px;
}
