$white: #ffffff;

.title {
  color: $white;
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 10px;
}

.indexs {
  text-align: center;
}

.index {
  background-color: rgba(244, 162, 23, 0.66);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  padding: 15px;
}

.index-title {
  color: $white;
  font-size: 2.6vw;
  padding: 8px;
}

.index-description {
  font-size: 1.4vw;
  margin-top: 15px;
}

.group-bottom {
  max-height: 600px;
  overflow: auto;
}
