fieldset, label { margin: 0; padding: 0; }

fieldset {
  padding-left: 37.5px;
}

.rating {
  border: none;
  float: left;
  margin-bottom: 8px;
	margin-top: 5px;
}

.rating > input { display: none; }
.rating > label:before {
  display: inline-block;
  content: image-url("rating_icon.png");
  text-align: center;
}

.rating:hover > label:before {
  content: image-url("rating_icon.png");
}

.rating > label {
  color: #ddd;
  text-align: center;
}

.rating > input:checked ~ label, // show highlighted beer when clicked
// .rating:not(:checked) > label:hover, // hover current beer
.rating:not(:checked) > label:hover ~ label { content: image-url("soft_rating_icon.png"); } // hover previous beers in list

.rating > input:checked + label:hover, // hover current star when changing rating
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, // lighten current selection
.rating > input:checked ~ label:hover ~ label { content: image-url("soft_rating_icon.png"); }
