fieldset, label { margin: 0; padding: 0; }

.rating {
  border: none;
  float: left;
  margin-bottom: 8px;
	margin-top: 5px;
}

.rating > input { display: none; }
.rating > label:before {
  /*margin: 5px;*/
  font-size: 1.75em;
	font-family: foundation-icons;
  display: inline-block;
	content: image-url("beer_icon.png");
		text-shadow: 0 0 5px #8a8a8a;
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
